*~
*.sw?
*.retry
*/.vagrant/**
topology.json
heketi-storage.json
ssh-config
heketi.json
 
vagrant/k8s_playbook_new/roles/worker_svc/files/images/**
vagrant/k8s_playbook_new/roles/addon/files/images/**
vagrant/k8s_playbook_new/roles/binary/**
*.tar.gz